/*
run below command
    vagrant ssh
    cd /var/www/public/cake3test
    sass scss/helloworld.scss webroot/css/hello_sass.css <-- generate CSS using file
    sass scss:webroot/css <-- generate CSS using folder
*/

/* using import feature */
@import 'reset';

/* variable */
$font-stack: Helvetica, sans-serif;
$background-color: beige;

/* main body */
body {
  font: 100% $font-stack;
  background-color: $background-color;
}

/* table nest1 */
table.nest1 {
    
    width: 600px;
    border: 1px solid black;
    
    td:hover {
        background-color: red;
    }
}

/* mixins : declare it (note that this @mixin function will not appeard in the output later) */
@mixin hellobox( $bg-color, $txt-color: red) {
    background-color: $bg-color;
    color: $txt-color;
    padding: 10px;
}

/* mixins : use it V1 */
.boxme { 
    
    //use our own styling
    width: 200px;
    text-align: center;
    
    //import styling from mixin
    @include hellobox(black, $background-color);
}

/* 
mixins : use it V2

what will happen?
    background color will not be generated
    text color will default to red
*/
.boxyou { 
    
    //use our own styling
    width: 300px;
    text-align: right;
    
    //import styling from mixin
    @include hellobox(null);
}

/*
Extend/Inheritance V1
Differences between is Extend and Mixins
is
Mixins = attached as usual
Extend = create new classes and group them by
See example
*/
%button-style {
    padding: 10px;
    color: #333;
}

/*
Extend/Inheritance V2
You can also extend a class like below example
*/
.div-box {
    padding: 5px;
    border: 1px dashed darkgrey;
    color: #333;
    margin: 10px;
    width: 200px;
    text-align: center;
}

.button-error {
    @extend %button-style;
    background-color: plum;
}

.button-warning {
    @extend %button-style;
    background-color: darkorange;
}

.button-good {
    @extend .div-box;
    background-color: green;
}

.button-notice {
    @extend .div-box;
    background-color: blue;
}